#### Hypothesis Testing Exercise
A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.


     Minitab File : Cutlets.mtw

## IMport important Library

In [14]:
import pandas as pd
import scipy as stats
from scipy.stats import ttest_ind

In [16]:
Cutlet_data = pd.read_csv('Cutlets.csv')

In [17]:
Cutlet_data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [18]:
Cutlet_data.columns

Index(['Unit A', 'Unit B'], dtype='object')

In [19]:
Cutlet_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

 ### *** Analyze the data and draw inferences at 5% significance level And state the assumptions and tests that you carried out to check validity of the assumptions.

In [28]:

statistic,p_value= ttest_ind(Cutlet_data['Unit A'],Cutlet_data['Unit B'])
print('P value:',round(p_value,4))
print('Statistic:',round(statistic,4))

P value: 0.4722
Statistic: 0.7229

In [32]:
from scipy.stats import describe

In [33]:
Res= describe(Cutlet_data)

In [42]:
print(Res)

DescribeResult(nobs=35, minmax=(array([6.4376, 6.038 ]), array([7.5169, 7.5459])), mean=array([7.01909143, 6.96429714]), variance=array([0.08317945, 0.117924  ]), skewness=array([-0.11831877, -0.36346397]), kurtosis=array([-0.96159273,  0.00599388]))

In [43]:
if p_value<0.05:
    print('Reject the null Hypothesis at 5% siginficant level')

else:
    print('Do not reject the null hypothesis at 5% significant level')

Do not reject the null hypothesis at 5% significant level

## ('Let , the null hypothesis be , H0: μ1 = μ2 H0 : (There is no difference in diameters of cutlets between two units because the p value is greater then 0.05)')

## ************************************************************* ##

### 2) A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.

1 Analyze the data and determine whether there is any difference in average TAT
among the different laboratories at 5% significance level.

2 Minitab File: LabTAT.mtw

Answer :
Level of significance = 0.05
null hypothesis is,
H0 : There is no difference in average TAT among the different laboratories.

And alternative hypothesis be,
Ha : There is a difference in average TAT among the different laboratories.

In [46]:
lab_data= pd.read_csv('LabTAT.csv')
lab_data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [48]:
lab_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [52]:
lab_data.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [53]:
from scipy.stats import f_oneway

In [63]:
statistics,pvalue = f_oneway(lab_data['Laboratory 1'],lab_data['Laboratory 2'],lab_data['Laboratory 3'],lab_data['Laboratory 4'])
print("Statistics is {} \n pvalue is {}".format(statistics,pval))

Statistics is 118.70421654401437
 pvalue is 2.1156708949992414e-57

In [56]:
from scipy.stats import kruskal

In [62]:
statistic,pvalue=kruskal(lab_data['Laboratory 1'],lab_data['Laboratory 2'],lab_data['Laboratory 3'],lab_data['Laboratory 4'])
print("Statistics is {} \n pvalue is {}".format(statistics,pval))

Statistics is 118.70421654401437
 pvalue is 2.1156708949992414e-57

In [64]:
if pvalue<0.05:
    print('Reject the null Hypothesis at 5% siginficant level')

else:
    print('Do not reject the null hypothesis at 5% significant level')

Reject the null Hypothesis at 5% siginficant level

Observation:
    
  Reject the null hypothesis at 5% level of significance and conclude that ,
   here is a difference in average TAT among the different laboratories

### 3 Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [91]:
data= pd.read_csv('BuyerRatio.csv')
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [93]:
data= data.iloc[:,1:]
data

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [94]:
from scipy.stats import chi2_contingency


chi2_score,p_val,dof,expected_table = chi2_contingency(data)
print('***************************************************')
print('CHI-SQAURE TEST RESULTS')
print('Chi2 Value        : ',chi2_score)
print('P-value           : ',p_val)
print('Degree of Freedom : ',dof)
print('Expected Table    :\n',expected_table)

***************************************************
CHI-SQAURE TEST RESULTS
Chi2 Value        :  1.595945538661058
P-value           :  0.6603094907091882
Degree of Freedom :  3
Expected Table    :
 [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [100]:
if p_val<0.05:
    print('Reject the null Hypothesis at 5% siginficant level')

else:
    print('Do not reject the null hypothesis at 5% significant level')

Do not reject the null hypothesis at 5% significant level

Observation:
    There is no significant association between gender and regions

### TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

Minitab File: CustomerOrderForm.mtw

In [101]:
data = pd.read_csv('Costomer+OrderForm.csv')

In [105]:
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [107]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [108]:
data.describe

<bound method NDFrame.describe of     Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]>

In [116]:
Phillippines= data['Phillippines'].value_counts()

In [117]:
Phillippines

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [119]:
Indonesia=data['Indonesia'].value_counts()
Indonesia

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [120]:
India=data['India'].value_counts()
India

Error Free    280
Defective      20
Name: India, dtype: int64

In [122]:
Malta=data['Malta'].value_counts()
Malta

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [124]:
chi2_score,p_val,dof,expected_table= chi2_contingency([[271,267,269,280],[29,33,31,20]])
print('***************************************************')
print('CHI-SQAURE TEST RESULTS')
print('Chi2 Value        : ',chi2_score)
print('P-value           : ',p_val)
print('Degree of Freedom : ',dof)
print('Expected Table    :\n',expected_table)

***************************************************
CHI-SQAURE TEST RESULTS
Chi2 Value        :  3.858960685820355
P-value           :  0.2771020991233135
Degree of Freedom :  3
Expected Table    :
 [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [126]:
if p_val<0.05:
    print('Reject the null Hypothesis at 5% siginficant level')

else:
    print('We accept reject the null hypothesis at 5% significant level')

We accept reject the null hypothesis at 5% significant level

## Observation:
    There is no siginficant association b/w center and addefectives