## 1. Chi- squared Test

Is there any association between 2 or more qualitative features.

In [1]:
import seaborn as sns

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [3]:
tips_data = sns.load_dataset('tips')
tips_data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

### Hypothesis Formulation:
* H0: There is no association between Sex and Smoker.
* Ha: There is a association between Sex and Smoker.
##### Note: Check with level of significance = 5%

In [12]:
import pandas as pd
sex_vs_smoker = pd.crosstab(index =tips_data['sex'] ,columns= tips_data['smoker'])#,margins=True)

sex_vs_smoker

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [6]:
stats.chi2_contingency(observed = sex_vs_smoker)

(0.008763290531773594,
 0.925417020494423,
 1,
 array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [10]:
from scipy import stats
chi2_score,p_val,dof,expected = stats.chi2_contingency(observed = sex_vs_smoker)
print('***************************************************')
print('CHI-SQAURE TEST RESULTS')
print('Chi2 Value        : ',chi2_score)
print('P-value           : ',p_val)
print('Degree of Freedom : ',dof)
print('Expected Table    :\n',expected)
print('***************************************************')

***************************************************
CHI-SQAURE TEST RESULTS
Chi2 Value        :  0.008763290531773594
P-value           :  0.925417020494423
Degree of Freedom :  1
Expected Table    :
 [[59.84016393 97.15983607]
 [33.15983607 53.84016393]]
***************************************************

In [33]:
if p_val<0.05:
    print('We reject the null hypothesis and we can that there is a association between male smokers abd female smokers.')
else:
    print('We do not reject the null hypothesis and we can that there is no significant association between male smokers abd female smokers.')

We do not reject the null hypothesis and we can that there is no significant association between male smokers abd female smokers.

## 2. T - test
* 1 sample t test
* 2 sample t test
* Paired t test
* 3 sample test - ANOVA###

### 1 Sample T test

In [8]:
ages = [20,25,30,35,20,19,20,25,27,28,40,35,40,20,23,26,27,28,29,30,31,33,36,21,22] #population
len(ages)

25

In [9]:
import numpy as np
sample_ages = np.random.choice(a = ages,size=5)
sample_ages

array([26, 29, 27, 20, 30])

### Hypothesis

* H0: There is no significant difference in the average age of population and sample.
* Ha: There is a significant difference in the average age of population and sample.
##### Level of significance of 5%.

In [10]:
np.mean(ages)

27.6

In [11]:
np.mean(sample_ages)

26.4

In [ ]:
stats.ttest_1samp(a = sample_ages,popmean= 27.6 )

In [12]:
from scipy import stats
t_val,p_val = stats.ttest_1samp(a = sample_ages,popmean= 27.6 )
t_val,p_val

(-0.685994340570037, 0.5304116756741079)

In [13]:
p_val = p_val/2
p_val

0.2652058378370539

In [14]:
if p_val<0.05:
    print('We reject the null hypothesis and we can say that there is a significant difference in the average age of population and sample.')
else:
    print('We do not reject the null hypothesis and we can that there is no significant difference  in the average age of population and sample..')

We do not reject the null hypothesis and we can that there is no significant difference  in the average age of population and sample..

### 2 Sample T test

In [35]:
control_group   = [24,48,24,24,24,48] #CovidShield
treatment_group = [0,0,0,0,0,0] #Cowaxin

#### Hypothesis

* H0: There is no significant differene in the average response time of the vaccination given for the control group and treatment group.
* Ha: There is a significant differene in the average response time of the vaccination given.
##### Level of significance = 1%.

In [ ]:
stats.ttest_ind()

In [41]:
t_val,p_val = stats.ttest_ind(a = control_group, b = treatment_group)
t_val,p_val

(6.324555320336758, 8.630216153154254e-05)

In [42]:
p_val = p_val/2
p_val

4.315108076577127e-05

In [45]:
if p_val<0.01:
    print('We reject the null hypothesis and we can say that there is a significant difference in the average response time of the control group and the treatment group.')
else:
    print('We do not reject the null hypothesis and we can that there is no significant difference in the average response time of the control group and the treatment group.')

We reject the null hypothesis and we can say that there is a significant difference in the average response time of the control group and the treatment group.

### Paied T test

In [48]:
weight_preworkout  = [89,85,35,95,79,82,99,88,101,72,84,86,92]
weight_postworkout = [55,62,65,56,42,46,68,52,70,60,55,51,69]

statistics,pval = stats.ttest_rel(weight_preworkout,weight_postworkout)
print("Statistics is {} \n pvalue is {}".format(statistics,pval))

if pval < 0.05:
    print("We reject null hypothesis saying that there is a significant difference between average weight before and after the Weight loss program")
else:
    print("We do not reject null hypothesis saying that there is no significant difference between average weight before and after the Weight loss program")

Statistics is 5.07655590683381
 pvalue is 0.0002722070875643695
We reject null hypothesis saying that there is a significant difference between average weight before and after the Weight loss program

### ANOVA test

In [ ]:
stats.f_oneway()

In [ ]:
#Proportion Test

# TASK

## Formulate 2 hypothesis statement for each statistical tests along with scripts.